# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Database
data/*.duckdb
data/*.db

# Generated data files
data/*.xlsx
data/*.xls
data/*.csv

# ==============================
# Project specific files (NÃO subir para GitHub)
# ==============================
*Planejamento*
gradi_app*
todo dia*
Logo/
Ubuntu/

# System / Temporary files
.DS_Store
Thumbs.db
*.log
*.tmp